body{
    margin: 0%;
    padding: 0;
    background-color:white ;
    font-family:roboto,Arial,sans _serief ;
}
header{
   background-color:blueviolet rgba(137,43,226,0.294) ;
   display: flex;
   padding: 10px;
   width: 100%;
   justify-content: space-between;
   
}
header ul{
    display: flex;
    list-style: none;

}
header ul li{
    margin-left: 15px;
    padding-top: 30px;
    padding-top: 50px;
}

header img{
  
    width: 18;
    
}
.desc{
    text-align: center;
}
desc img{
    width: 30px;
}
.para{
    display: flex;
    width: 100;
margin: 0%;
}
.card{
    background-color:aqua;
    width: 30%
    height:250px;
    border-radius:5px;
   

}
.card select{
    margin-top: 100px;
    border: none;
    background-color: transparent;
    flex-direction: between;
    
}